services:
  redis:
    image: redis:7-alpine
    volumes:
      - redis-cache:/data
    ports:
      - 6379:6379
  api:
    build:
      context: .
    ports:
      - 8080:8080

volumes:
  redis-cache:


